/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*wrapper*/
.wrapper{
  width: 87.5%;
  margin: 0 auto;
}

/*header*/
h1{
  padding: 4%;
}

h2{
  color: white;
  font-size: 3em;
  font-weight: 600;
  padding: 5% 0;
}

h2::first-letter{
  text-transform: capitalize;
}

h3{
  color: black;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 900;
  padding: 8% 0;
}

/*link*/
a{
  text-decoration: none;
}

/*paragraph*/
p{
  color: rgb(108, 111, 121);
  line-height: 1.2em;
}

/*navigation*/

header{
  background:rgb(43, 4, 5);
}
header::before{
  content: "";
  width: 100%;
  height: 0.6%;
  background:rgb(126, 196, 141);
  position: absolute;
  top: 0;
}
.header-content{
  display: flex;
  align-items: center;
}


nav{
  width: 83%;
  position: relative;
}
.nav-list{
  display: flex;
  width: 82%;
  float: right;
  justify-content: space-between;
  align-items: center;
}

.nav-list li{
  width: calc(100%/6);
  text-align: center;
 
}


header a{
  text-transform: uppercase;
  color: white;
  
  
}

header a:hover{
  padding: 7% 8%;
  border: none;
  border-radius: 0.5em;
  background: rgb(126, 196, 141);
}

.dropdown{
  padding: 2.5% 0 ;
  position: absolute;
  top:100%;
  display: none;
}
.dropdown li{
  margin: 5% 0;
  padding: 1%;
  border: 1px solid white;
  border-radius: 5%;
}

.burger{
  position: absolute;
  top: 1%;
  right: 1%;
  display: none;
}

/*section banner*/

.banner{
  background:rgb(43, 4, 5);
}

.banner-content{
  position: relative;
}

.slidder{
  box-sizing: border-box;
  width: 85%;
  position: relative;
  margin: 0 auto;
  padding-bottom: 45%;
  display: flex;
  overflow: hidden;
  
}

.slidder li{
  width: 100%;
  position: absolute;
  display: flex;
}

.slidder div{
  width: 50%;
  box-sizing: border-box;
  margin: 8%;
}


.slidder div > a {
  display: inline-block;
  text-transform: uppercase;
  color: white;
  margin: 5% 0;
  padding: 2% 4%;
  border: none;
  border-radius: 0.5em;
  background: rgb(126, 196, 141);
  
}

.slidder figure{
  box-sizing: border-box;
  width: 50%;
  padding: 0 2%;
}

.slidder img{
  border: 1.5em solid grey;
  border-radius: 50%;

}

.arrow-left{
  position: absolute;
  top:45%;
  left: 0;
  
}

.arrow-right{
  position: absolute;
  top:45%;  
  right: 0;

}

/*section services*/

.services{
  background: rgb(97, 17, 11);
}

.service-content{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  text-align:center;
  padding: 5% 0;
}

.service-content li{
  width: 45% ;
  align-items: center;
  background: white;
  box-sizing: border-box;
  margin: 0 1%;
  padding:2% 1%;
}